# cache files/dirs
.DS_store
.ipynb_checkpoints/
.vscode/
*.sh

*/.ipynb_checkpoints/
*/.DS_store
*/__pycache__/
*/*/__pycache__/


# directories
cluster/
logs/
*/development/

# files
config_files/*
!config_files/config_NERD_example.ini

data/example_S1_IW_img_2019-12-01.tif

files/*.txt
files/*-v0*
files/*.geojson
files/batlow.mat

matlab/functions/ini2struct.m
matlab/scripts/calculate_RT_base_value.m

