# cache files/dirs
.DS_store
.ipynb_checkpoints/
.vscode/
*.sh

config_files/.ipynb_checkpoints/
config_files/*.sh
config_files/*.ini
config_files/*.slurm
config_files/log_configs/

cluster/
data/example_S1_IW_img_2019-12-01.tif

files/*.txt
files/*-v0*
files/*.geojson
files/batlow.mat

matlab/.DS_store
matlab/functions/.DS_store
matlab/functions/ini2struct.m
matlab/scripts/calculate_RT_base_value.m

python/scripts/.ipynb_checkpoints/
python/scripts/__pycache__/
python/development/